[Unit]
Description=inbx Mojolicious inbox
After=network.target

[Service]
Type=simple
DynamicUser=yes
Group=www-data
SupplementaryGroups=www-data
RuntimeDirectory=inbx
RuntimeDirectoryMode=0770
StateDirectory=inbx
StateDirectoryMode=0700
UMask=0007
WorkingDirectory=/opt/inbx
Environment=INBX_STORAGE_PATH=%S/inbx
Environment=MOJO_LISTEN=http+unix://%%2Frun%%2Finbx%%2Finbx.sock
EnvironmentFile=-/etc/default/inbx
ExecStart=/usr/bin/hypnotoad -f /opt/inbx/inbx.pl
Restart=on-failure
RestartSec=2

# Sandboxing / hardening
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=strict
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectKernelLogs=yes
ProtectClock=yes
ProtectHostname=yes
ProtectProc=invisible
ProcSubset=pid
RestrictSUIDSGID=yes
RestrictRealtime=yes
RestrictNamespaces=yes
LockPersonality=yes
SystemCallArchitectures=native
RestrictAddressFamilies=AF_UNIX
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
